.visualy-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: #fff !important;
}

.game-wrapper {
  width: 90vh;
  height: 80vh;
}

.lobby-header {
  text-align: center;
}

.list-group-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}
.progress {
  width: 60%;
}

.game-text {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 20% 5%;
}

.list-group {
  align-items: flex-start;
}

.gameCountDown {
  text-transform: uppercase;
  text-align: center;
}

.notActive {
  background-color: red;
}

.red-highlight {
  background-color: red;
}

.green-highlight {
  background-color: green;
  color: white;
}

.comments-list {
  height: 20vh;
  overflow-y: scroll;
}